{% extends 'school/homebase.html' %}

<!--
      written By : Abdelkader Maarouf
      twitter : @maarouf_kader
-->


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">مرحبا بالمدير</h1>
  <p class="lead">مرحبا بك على موقع إدارة المدرسة.</p>
  <hr class="my-4">
  <p>يمكنك الوصول إلى العديد من المميزات بعد تسجيل الدخول \ التسجيل</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">التسجيل</a>
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">تسجيل الدخول</a>
  </p>
</div>

{% endblock content %}
