{% extends 'school/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">مرحبا بالتلميذ</h1>
  <p class="lead">مرحبا بك على نظام إدارة الكدرسة</p>
  <hr class="my-4">
  <p>يمكنك الوصول إلى العديد من المميزات بعد تسجيل الدخول.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="studentsignup" role="button">طلب جديد</a>
    <a class="btn btn-primary btn-lg" href="studentlogin" role="button">تسجيل الدخول</a>
  </p>
</div>

{% endblock content %}
